.top-games {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.select-game-container {
    box-shadow: 0px 0px 9px -4px black;
    height: 230px;
    width: 200px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.game-img {
    aspect-ratio: 9 / 5;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.game-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crop to fill */
    object-position: center; /* center the image */
    display: block;
}

.game-title, .game-price {
    margin: 0;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
}

#message-container {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    justify-content: end;
}

#message {
    transition: 0.3s;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    position: relative;
    top: 68px;
}

.game-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
    text-align: center;
    margin: 10px auto;
}

.game-price {
    height: 30px;
    font-size: 14px;
    color: #e80000;
}

.add-button {
    border: none;
    border-radius: 20px;
    width: 80%;
    padding: 5px 0;
    background: #1b5fff;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.add-button:hover {
    background: #164dd5;
}
