:root {
    --border-color: #D8D8D8;
    --header-height: 64px;
    --header-background-color: #FFFFFF;
    --footer-height: 64px;
    --footer-background-color: #FFFFFF;
    --max-width: 1200px;
}

body {
    font-family: sans-serif;
}
